.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.search-input {
  background-color: black;
  align-items: left;
}

input[type="text"],
textarea {

  background-color: #d1d1d1;

}

#results-bar {
  width: 30%;
  float: left;
  padding: 30px;
  color: black
}

.list-item {
  border: 1px solid #fdb735;
  border-radius: 25px;
  padding: 10px;
  text-align: left;
  margin-bottom: 10px;
}

.list-item .row {
  margin-bottom: 5px;
}

.list-item .row:first-child {
  border-bottom: 1px solid #fdb735;
  font-weight: bold;
}

/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */