.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html {
  background-color: rgb(106, 212, 195);
  height: 95vh;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.search-input {
  background-color: black;
  align-items: left;
}

#signup {
  float: right;
  margin: 10px;
}

input[type="text"],
textarea {
  padding: 6px;
  border: none;
  font-size: 17px;
  border-radius: 10px;
  background-color: white;

}

.search-container button {
  margin-left: 10px;
  background-color: white;
  border-radius: 10px;
}

.list-item .row {
  margin-bottom: 5px;
}

.list-item .row:first-child {
  border-bottom: 1px solid #fdb735;
  font-weight: bold;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.list {
  list-style: none;
  padding: 0;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

}

.list-item-content {
  flex: 0.7;
  border: 1px solid #fdb735;
  border-radius: 25px;
  padding: 10px;
  text-align: left;
  background-color: white;
  margin-bottom: 10px;
}

.list-item-content h3 {
  margin-top: 0;
}

.list-item-image img {
  max-width: 240px;
  margin: 10px;
  height: auto;
}

/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */